<% include ../../partials/head %>
<hr>
<h3>Zemtime - Envío de nueva contraseña</h3>
<br>
<h4>Nueva contraseña para la cuenta <%= user.username %></h4>
<br>
<h3><%= newPassword %></h3>
<br>
<h3>Una vez entre al sistema, recuerde que se le pedirá que la cambie</h3>
<hr>
<% include ../../partials/footer %>