<% include ../../partials/head %>
<hr>
<h3>Zemtime - Envío de nueva contraseña</h3>
<br>
<h4>Su nueva contraseña es: <%= username %></h4>
<br>
<h4><a href="<%= urlLocation %>/#!/login">Regresar a Zemtime</a></h4>
<hr>
<% include ../../partials/footer %>