<% include ../../partials/head %>
<hr>
<h3>Zemtime - Envío de nueva contraseña</h3>
<br>
<h4>Tu nueva contraseña para la cuenta <%= user.username %></h4>
<br>
<h3><%= newPassword %></h3>
<hr>
<% include ../../partials/footer %>